#contact-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
    justify-content: center;

}
#inputField-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15%;
    
}
#contact-greeter {
    display: flex;
    margin: auto;
    justify-content: center;
    max-width: 80%;

}
#contact-greeter p{
    margin-top: 160px;
    text-align: center;
    font-size: 32px;
    font-style: italic;
    
}
#inputField-container input{
    justify-content: space-around;
    width: auto;
    margin-top: 1%;
    border: solid 1,5px;
    font-size: 18px;
}
.input-box{
    width: 100px;
    height: 30px;
    font-family: 'Times New Roman', Times, serif;
    
}
#button-field{

    width: 100%;
    height: 10%;
    color: black;
    justify-content: center;
    background-color: brown;
    text-align: center;
    


}

#comment-field{
    width: 300px;
    height: 60px;
    display: flex;
    flex-direction: column;
    word-wrap:break-word;
    resize: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
#responisive-textField{
    background-color: burlywood;
    width: 200px;
    height: 100px;
    text-align: center;

}
#responsive-container{
    display: flex;
    flex-direction: column;
    margin-top: 10%;

}