#nav-bar {
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: fixed;
    top: 0;
}

.nav-button {
    display: inline;
    cursor: pointer;
    text-align: center;
    max-width: 15%;
    margin-top: 10px;
    font-size: medium;
    font-weight: bold;
    font-style: italic;
}

.button-img{
    max-width: 30%;
}