.nav-bar {
    
    
    background-color: white;
    max-width: 960px;
    margin-left: 60%;
    margin-right: auto;
    left: 0;
    right: 0;
    position: fixed;
    top: 0;
    background-color: rgb(33, 54, 54);
}

.nav-button {
    display: inline;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-size: medium;
    font-weight: bold;
    font-style: italic;
    
}

.button-img{
    max-width: 20%;
}
/* flex-direction: row-reverse;


*/