.nav-bar {
    display: flex;
    justify-content: flex-end;
    background-color: white;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: fixed;
    top: 0;
    border-style: solid;

}

.nav-button {
    display: inline;
    align-items: center;
    cursor: pointer;
    padding: 15px;
    font-size: medium;
    font-weight: bold;
    font-style: italic;
    width: 10%;

}

.button-img{
    max-width: 100%;
}
