

$global-font: 'Times New Roman', Times, serif;
$global-background: rgba(153, 140, 140, 0.671);
$content-background: rgba(240, 76, 76, 0.521);

#mainDiv{
  max-width: 960px;
  align-self: center;
  margin:auto;
  background-color: $global-background;
}

